<html>
  <head>
    <title></title>
  </head>
  <body>
    <h1>Movies!!!</h1>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <h3> To search for a movie with hunter in the title, type '/search/?t=hunter' in the url</h3>
    <p></p>
    <p></p>
    <h3>To search for a movie made in 1961, type '/search/?y=1961' in the url</h3>
    <p></p>
    <p></p>
    <h2>To search for all movies, type '/all' in the url.</h2>
  </body>
</html>
